body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body, html, td, th {
    font-family: Arial, Sans;
}

.csvedit-editor-wrapper {
    width: 50%;
    float: left;
}

.csvedit-editor-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #aaa;
    resize: vertical;
}

.csvedit-table-wrapper {
    width: 50%;
    float: left;
}

.csvedit-table-table {
    width: 50%;
    border-collapse: collapse;
    background-color: #eee;
}

.csvedit-table-table th {
    background-color: #AFADC8;
    border: 1px solid #444;
    text-align: center;
}

.csvedit-table-table td {
    border: 1px solid #aaa;
    text-align: right;
}